flask==0.12.1
click==6.7
gunicorn==19.7.1
json-logging-py==0.2
bcrypt
blinker
cffi
cssselect
cssutils
Flask-Login
Flask-Mail
Flask-Principal
Flask-SQLAlchemy
Flask-WTF
flask-debugtoolbar
itsdangerous
Jinja2
lxml
MarkupSafe
nose
premailer
pycparser
requests
six
SQLAlchemy
Werkzeug
WTForms
devourer

