{% extends "/shared/modal-list-layout.html" %}


{% block HEADERTAGS %}
{{ super() }} 
<style>
  .mui-panel {
    max-width: 500px;
  }
</style>
{% endblock %}

{% block LISTNAVBAR %}
  <nav id="appbar" class="mui-container-fluid mui-appbar mui--bg-primary">
  <table width="100%" cellspacing="0">
    <tr class="mui--appbar-height">
      <td>
        <a id="appbar-more-vert" href="{{ url_for('sites.home') }}" class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block">
            <i class="material-icons mui--text-title">arrow_back</i>
        </a>
        <a id="appbar-more-vert" href="{{ url_for('sites.home') }}" class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm">
            <i class="material-icons mui--text-title">arrow_back</i>
        </a>
        <span class="mui--text-title">Edit Site</span>
      </td>
    </tr>
  </table>
</nav>
{% endblock %}

{% block BODY %}
<div class="mui-panel">
  <form method="post" action="{{ url_for('sites.edit', recid=recid) }}" role="form">
    <legend>Edit Site</legend>
    {{ form.csrf_token }} 
    <div class="mui-textfield">
      {{ form.sitedescription(placeholder=form.sitedescription.description,
                    autofocus="true") }} 
      <label>{{ form.sitedescription.label.text }}</label>
      {% if form.sitedescription.errors -%}
        <div class="mui--text-danger">{{ form.sitedescription.errors[0] }}</div>
      {%- endif %}
    </div>
    <div class="mui-textfield">
      {{ form.urlprefix(placeholder=form.urlprefix.description) }} 
      <label>{{ form.urlprefix.label.text }}</label>
      {% if form.urlprefix.errors -%}
        <div class="mui--text-danger">{{ form.urlprefix.errors[0] }}</div>
      {%- endif %}
    </div>
    <button type="submit" class="mui-btn mui-btn--primary">Update site</button>
  </form>
</div>
{% endblock %}
