{% extends "/shared/modal-list-layout.html" %}


{% block HEADERTAGS %}
{{ super() }} 
<style>
  .mui-panel {
    max-width: 500px;
  }
</style>
{% endblock %}

{% block LISTNAVBAR %}
  <nav id="appbar" class="mui-container-fluid mui-appbar mui--bg-primary">
  <table width="100%" cellspacing="0">
    <tr class="mui--appbar-height">
      <td>
        <a id="appbar-more-vert" href="{{ url_for('sites.home') }}" class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block">
            <i class="material-icons mui--text-title">arrow_back</i>
        </a>
        <a id="appbar-more-vert" href="{{ url_for('sites.home') }}" class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm">
            <i class="material-icons mui--text-title">arrow_back</i>
        </a>
        <span class="mui--text-title">New Site</span>
      </td>
    </tr>
  </table>
</nav>
{% endblock %}

{% block BODY %}
<div class="mui-panel">
  <form method="post" action="{{ url_for('sites.new', **request.args) }}" role="form">
    <legend>Create a new site</legend>
    {{ form.csrf_token }} 
    <div class="mui-textfield">
      {{ form.sitedescription(placeholder=form.sitedescription.description,
                    autofocus="true") }} 
      <label>{{ form.sitedescription.label.text }}</label>
      {% if form.sitedescription.errors -%}
        <div class="mui--text-danger">{{ form.sitedescription.errors[0] }}</div>
      {%- endif %}
    </div>
    <div class="mui-select">
      <!-- {{ form.runtime(placeholder=form.runtime.description, spellcheck="false", onchange="javascript: chgTypes(this.options[this.selectedIndex].value);") }} -->
      {{ form.runtime(placeholder=form.runtime.description, spellcheck="false") }}
      <label>{{ form.runtime.label.text }}</label>
      {% if form.runtime.errors -%}
      <div class="mui--text-danger">{{ form.runtime.errors[0] }}</div>
      {%- endif %}
    </div>
    <div class="mui-select">
      {{ form.sitetype(placeholder=form.sitetype.description, spellcheck="false") }}
      <label>{{ form.sitetype.label.text }}</label>
      {% if form.sitetype.errors -%}
        <div class="mui--text-danger">{{ form.sitetype.errors[0] }}</div>
      {%- endif %}
    </div>
    <button type="submit" class="mui-btn mui-btn--primary">Create site</button>
  </form>
</div>
{% endblock %}

{% block FOOTERTAGS %}
{{ h.javascript_tag(h.static('axios.js')) }}

<!-- 
https://appelsiini.net/2017/accessing-api-with-javascript/
http://codeheaven.io/how-to-use-axios-as-your-http-client/
https://www.sitepoint.com/comparison-javascript-http-libraries/
-->

<script language="javascript" type="text/javascript">

function bindOnchange(id, handler) {
    var selMaster = document.getElementById(id);
    if (selMaster.addEventListener) {
        // DOM2 standard
        selMaster.addEventListener("change", handler, false);
    }
    else if (box.attachEvent) {
        // IE fallback
        selMaster.attachEvent("onchange", handler);
    }
    else {
        // DOM0 fallback
        selMaster.onchange = handler;
    }
}

bindOnchange("runtime", chgTypes);

function chgTypes() {

    var myHeaders = {
        "Content-type": "application/json",
        "Accept": "application/json"
    };
    var master = document.getElementById("runtime");
    var child = document.getElementById("sitetype");

    child.length = 0;
    axios
        .get("{{ url_for('sites.get_config', cfggroup='engines') }}", {
            params: {
                q: master.options[master.selectedIndex].value
            },
            headers: myHeaders
        })
        .then(function (response) {
            //console.log("Dados: ", response.status, response.data);
            response.data.forEach(function(item, i) {
                //console.log("Index: ", i, "Key: ", item[0], " Value: ", item[1]);
                child.options[i]=new Option(item[1], item[0]);
            });
        })
        .catch(function (error) {
            if (error.response) {
                // The request was made and the server responded with a status code
                // that falls out of the range of 2xx
                console.log(error.response.data);
                console.log(error.response.status);
                console.log(error.response.headers);
            } else if (error.request) {
                // The request was made but no response was received
                // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                // http.ClientRequest in node.js
                console.log(error.request);
            } else {
                // Something happened in setting up the request that triggered an Error
                console.log('Error', error.message);
            }
            console.log(error.config);
        });

    return true;
}

function setEngines() {

    var myHeaders = {
        "Content-type": "application/json",
        "Accept": "application/json"
    };
    var master = document.getElementById("runtime");

    master.length = 0;
    axios
        .get("{{ url_for('sites.get_engines') }}", {
            headers: myHeaders
        })
        .then(function (response) {
            console.log("Dados: ", response.status, response.data);
            response.data.forEach(function(item, i) {
                //console.log("Index: ", i, "Key: ", item[0], " Value: ", item[1]);
                master.options[i]=new Option(item[1], item[0]);
            });
        })
        .catch(function (error) {
            if (error.response) {
                // The request was made and the server responded with a status code
                // that falls out of the range of 2xx
                console.log(error.response.data);
                console.log(error.response.status);
                console.log(error.response.headers);
            } else if (error.request) {
                // The request was made but no response was received
                // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                // http.ClientRequest in node.js
                console.log(error.request);
            } else {
                // Something happened in setting up the request that triggered an Error
                console.log('Error', error.message);
            }
            console.log(error.config);
        });

    return true;
}

window.onload = function() {
    setEngines();
    chgTypes();
}
//$(document).ready(function() {
//    alert('This is executed after all elements are available.');
//});

</script>
{% endblock %}

