{% extends "/shared/modal-list-layout.html" %}


{% block HEADERTAGS %}
{{ super() }} 
<style>
  .mui-panel {
    max-width: 500px;
  }
</style>
{% endblock %}

{% block LISTNAVBAR %}
  <nav id="appbar" class="mui-container-fluid mui-appbar mui--bg-primary">
  <table width="100%" cellspacing="0">
    <tr class="mui--appbar-height">
      <td>
        <a id="appbar-more-vert" href="{{ url_for('sites.site_versions', recid=site._cuid) }}" class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block">
            <i class="material-icons mui--text-title">arrow_back</i>
        </a>
        <a id="appbar-more-vert" href="{{ url_for('sites.site_versions', recid=site._cuid) }}" class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm">
            <i class="material-icons mui--text-title">arrow_back</i>
        </a>
        <span class="mui--text-title">New Version</span>
      </td>
    </tr>
  </table>
</nav>
{% endblock %}

{% block BODY %}

<div class="mui-panel">
    <div class="mui--text-dark mui--text-subhead">Site</div>
    <div class="mui--text-dark-secondary">{{ site.sitedescription }}</div>
    <br>
    <form method="post" action="{{ url_for('sites.site_versions_new', recid=site._cuid) }}" role="form">
    <legend>Create new site version</legend>
    {{ form.csrf_token }}
    <div class="mui-textfield">
      {{ form.description(placeholder=form.description.description,
                    autofocus="true") }} 
      <label>{{ form.description.label.text }}</label>
      {% if form.description.errors -%}
        <div class="mui--text-danger">{{ form.description.errors[0] }}</div>
      {%- endif %}
    </div>
    <div class="mui-textfield">
      {{ form.tag(placeholder=form.tag.description,
                    autofocus="true") }} 
      <label>{{ form.tag.label.text }}</label>
      {% if form.tag.errors -%}
        <div class="mui--text-danger">{{ form.tag.errors[0] }}</div>
      {%- endif %}
    </div>
    <div class="mui-select">
      {{ form.runtime(placeholder=form.runtime.description, spellcheck="false") }}
      <label>{{ form.runtime.label.text }}</label>
      {% if form.runtime.errors -%}
      <div class="mui--text-danger">{{ form.runtime.errors[0] }}</div>
      {%- endif %}
    </div>
    <div class="mui-select">
      {{ form.sitetype(placeholder=form.sitetype.description, spellcheck="false") }}
      <label>{{ form.sitetype.label.text }}</label>
      {% if form.sitetype.errors -%}
        <div class="mui--text-danger">{{ form.sitetype.errors[0] }}</div>
      {%- endif %}
    </div>

    <button type="submit" class="mui-btn mui-btn--primary">Create version</button>
    </form>
</div>
{% endblock %}

{% block FOOTERTAGS %}
{{ h.javascript_tag(h.static('axios.js')) }}
{{ h.javascript_tag(h.static('daspanel-util.js')) }}

<script language="javascript" type="text/javascript">
{% include "/modules/sites/js/sitetypes.js" %}

// Get engines avaiable on page load
window.onload = function init_selects() {
    setEngines();
}

// Dynamic change sitetypes options based on engine selection
bindOnchange("runtime", chgTypes);

</script>
{% endblock %}


