{% extends "/shared/modal-list-layout.html" %}


{% block HEADERTAGS %}
{{ super() }} 
<style>
  .mui-panel {
    max-width: 500px;
  }
</style>
{% endblock %}

{% block LISTNAVBAR %}
  <nav id="appbar" class="mui-container-fluid mui-appbar mui--bg-primary">
  <table width="100%" cellspacing="0">
    <tr class="mui--appbar-height">
      <td>
        <a href="{{ url_for('sites.site_versions', recid=site._cuid) }}" class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block">☰</a>
        <a href="{{ url_for('sites.site_versions', recid=site._cuid) }}" class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm">☰</a>
        <span class="mui--text-title">Delete Version</span>
      </td>
    </tr>
  </table>
</nav>
{% endblock %}

{% block BODY %}

<div class="mui-panel">
    <div class="mui--text-dark mui--text-subhead">Site</div>
    <div class="mui--text-dark-secondary">{{ site.sitedescription }}</div>
    <br>
    <form method="post" action="{{ url_for('sites.site_versions_delete', recid=site._cuid, versionid=versionid) }}" role="form">
    <legend>Delete site version</legend>
    {{ form.csrf_token }}
    <div class="mui-select">
        {{ form.confirm(placeholder=form.confirm.description, spellcheck="false") }}
        <label>{{ form.confirm.label.text }}</label>
        {% if form.confirm.errors -%}
        <div class="mui--text-danger">{{ form.confirm.errors[0] }}</div>
        {%- endif %}
    </div>

    <button type="submit" class="mui-btn mui-btn--primary">Delete version</button>
    </form>
</div>
{% endblock %}
